---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Cari Cambridge"
	description="About me..."
	pubDate={new Date('February 13 2024')}
	heroImage="/jamsesh.png"
	heroImageWidth="300"
>
	<p>Cari Cambridge is a singer-songwriter whose music is a heartfelt reflection of her journey through life's ups and downs. Growing up in a musically rich environment, Cari was drawn to the power of storytelling through song from a young age. Her early experiences with music, combined with a deep appreciation for artists like Joni Mitchell and Bob Dylan, shaped her into the emotive songwriter she is today.</p>
	<p>Cari's music is a blend of folk and indie, marked by lyrical depth and melodic warmth. Her songs, often inspired by personal experiences, relationships, and the world around her, invite listeners into intimate moments of reflection and connection. With a growing discography that showcases her evolution as an artist, Cari continues to touch hearts and inspire minds.</p>
	<p>Beyond her music, Cari is passionate about environmental conservation and mental health awareness, themes that frequently find their way into her work. As she looks to the future, Cari Cambridge is excited to explore new musical territories, share her journey with an ever-growing audience, and use her voice to make a difference in the world.</p>
</Layout>
