---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import videos from '../data/videos.json';


const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<!-- <div>Coming Soon...</div> -->
				<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@cambridgemusic/video/7291742007913991454" data-video-id="7291742007913991454" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@cambridgemusic" href="https://www.tiktok.com/@cambridgemusic?refer=embed">@cambridgemusic</a> <p></p> <a target="_blank" title="♬ original sound - Cari Cambridge" href="https://www.tiktok.com/music/original-sound-7291742041606834975?refer=embed">♬ original sound - Cari Cambridge</a> </section> </blockquote>
				<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@cambridgemusic/video/7326463741300739374" data-video-id="7326463741300739374" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@cambridgemusic" href="https://www.tiktok.com/@cambridgemusic?refer=embed">@cambridgemusic</a> <a title="timeaftertime" target="_blank" href="https://www.tiktok.com/tag/timeaftertime?refer=embed">#timeaftertime</a>. <a title="cyndilauper" target="_blank" href="https://www.tiktok.com/tag/cyndilauper?refer=embed">#cyndilauper</a> <a target="_blank" title="♬ original sound - Cari Cambridge" href="https://www.tiktok.com/music/original-sound-7326464189399042862?refer=embed">♬ original sound - Cari Cambridge</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
			</section>
		</main>
		<table>
			
		</table>
		<Footer />
	</body>
</html>
